/*
#books_inventory_table td, #books_inventory_table th {
  border: 1px solid #ddd;
  padding: 8px;
}
*/


.save, .student_save{
  display: none;
}

.button_actions{
  min-width: 500px;
}

.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

table {
  width: 100%; /* Set the table width to 100% of its container */
  border-collapse: collapse; /* Merge the table borders */
  border: 1px solid #ccc; /* Add a border around the table */
  margin-bottom: 20px; /* Add some spacing at the bottom of the table */
}

th, td {
  padding: 8px; /* Add padding to table cells */
  text-align: left; /* Align text to the left */
}

th {
  background-color: #f2f2f2; /* Add a background color to table headers */
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Add a background color to even rows */
}

tr:hover {
  background-color: #e5e5e5; /* Add a background color to hovered rows */
}

#select_all_dashboard{
  display: flex;
  min-width: 100px;
  align-items: center;
}


#books_inventory_table {
    width: 100%;
    border-collapse: collapse;
}

#books_inventory_table th,
#books_inventory_table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#books_inventory_table th {
    background-color: #f2f2f2;
}

#books_inventory_table td {
    vertical-align: middle;
    word-wrap: break-word;
}

#books_inventory_table td.button_actions button {
    margin-right: 5px;
}
