<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>ENAS Book Inventory Account Setup</h1>
    <form method="post" action="/account_setup" >
        {% csrf_token %}
        <label for="username">Username:</label><br>
          <input type="text" id="username" name="username"><br>
          <label for="password">Password:</label><br>
          <input type="text" id="password" name="password"><br><br>
          <input type="submit" value="Set Up Account">
    </form>
</body>
</html>