{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src = "{% static 'javascript/index.js' %}" defer></script>
</head>
<body>
<h1>ENAS Book Inventory Dashboard</h1>

<h3>Add book forms</h3>
<form method="post" action="/add_books" enctype="multipart/form-data" >
    {% csrf_token %}
    <label for="books_inventory">Inventory:</label><br>
      <input type="file" name="books_inventory" id="books_inventory">
     <input type="submit" value="Submit">
</form>

<div cL>
 {% if books_data %}
        <form action="/edit_table" method="post" id="order_form">
         {% csrf_token %}
            <button type="submit" name="table_action" value="delete_item">Delete item</button>
            <button type="submit" name="table_action" value="edit_item">Edit Item</button>
            <button type="submit" name="table_action" value="add_item">Add Item</button>
        <table id="books_inventory_table">
      <tr>
        <th>ISBN</th>
        <th>Book Name</th>
        <th>Quantity Requested</th>
        <th>Year Group</th>
        <th>Order Status</th>
        <th>Date Requested</th>
          <th>
              <label for="select_all">Select All: </label>
              <input type="checkbox" id="select_all" onclick="toggleAllCheckBoxes(this)">
          </th>
      </tr>
          {% for x in books_data %}
            <tr>
              <td>{{ x.isbn }}</td>
              <td>{{ x.book_name }}</td>
              <td class="editable-column" id="editable_item_{{ x.id }}">
                <span>{{ x.quantity_needed }}</span>
              </td>
              <td>{{ x.year_group}}</td>
              <td>{{ x.order_status}}</td>
              <td>{{ x.date_requested}}</td>
             <td>
                <input type="checkbox" name="book_selection" value="{{ x.id }}">
             </td>
            </tr>
          {% endfor %}
    </table>
      {% else %}
            <p>No books data available.</p>
         {% endif %}
    </form>
</div>

    <script>
           function toggleAllCheckBoxes(source) {
       let checkboxes = document.querySelectorAll('input[type="checkbox"][name="book_selection"]');
       console.log(checkboxes)
        for (let i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = source.checked;
        }
    }


    </script>


</body>

</html>