{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src = "{% static 'javascript/index.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>
<body>
<h1>ENAS Book Inventory Dashboard</h1>

<h3>Add book forms</h3>
<form method="post" action="/add_books" enctype="multipart/form-data" >
    {% csrf_token %}
    <label for="books_inventory">Inventory:</label><br>
      <input type="file" name="books_inventory" id="books_inventory">
     <input type="submit" value="Submit">
</form>

<div >
 {% if books_data %}
        <form action="/table_actions" method="post" id="order_form">
         {% csrf_token %}
        <table id="books_inventory_table">
      <tr>
        <th>
            <label for="select_all">Select All:</label>
            <input type="checkbox" id="select_all" onclick="toggleAllCheckboxes(this)" >
        <br><br></th>
        <th>ISBN</th>
        <th>Book Name</th>
        <th>Quantity Requested</th>
        <th>Year Group</th>
        <th>Order Status</th>
        <th>Date Requested</th>
        <th>
            Actions
            <button id="add_new_entry_button">Add new entry</button>
            <button type="submit" name="table_action" value="update_all_statuses">Update all Order Statuses</button>
        </th>
      </tr>
          {% for x in books_data %}
            <tr>
            <td>
                <input type="checkbox" name="books_selection" value="{{ x.id }}">
                <input type="hidden" name="book_id" value="{{ x.id }}">
            </td>
              <td class="data">{{ x.isbn }}</td>
              <td class="data">{{ x.book_name }}</td>
              <td class="data">
                 {{ x.quantity_needed }}
              </td>
              <td class="data">{{ x.year_group}}</td>
              <td>{{ x.order_status}}</td>
              <td>{{ x.date_requested}}</td>
              <td class="button_actions">
                  <button type="submit" name="table_action" value="edit" class="edit">Edit</button>
                   <button  class="save" data-book-id = {{x.id }}>Save</button>
                  <button type="submit" name="table_action" value="delete" class="delete">Delete</button>
                  <button type="submit" name="table_action" value="update_order_status" class="">Update Order Status</button>
              </td>
            {% comment %} <td>
                  {% if x.order_status != 'ORDERED' %}
                        <input type="checkbox" name="orders_to_order" value="{{ x.id }}"> Mark Ordered<br>
                        {% endif %}
                        {% if x.order_status == 'ORDERED' and x.order_status != 'RECEIVED' %}
                        <input type="checkbox" name="orders_to_receive" value="{{ x.id }}"> Mark Received<br>
                        {% endif %}
             </td>{% endcomment %}
            </tr>
          {% endfor %}
    </table>
      {% else %}
            <p>No books data available.</p>
         {% endif %}
    </form>
</div>



    <script>
      {% comment %} function toggle(source) {
           let checkboxes = document.getElementsByName('ordered_checkbox');
          for(let i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
          }
        }{% endcomment %}

     function toggleAllCheckboxes(source) {
        let checkboxes = document.querySelectorAll('input[type="checkbox"][name="books_selection"]');
        for (let i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = source.checked;
        }
    }

    </script>


</body>

</html>