{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src = "{% static 'javascript/index.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js" defer></script>

</head>
<body>
{% include "header.html" %}
<div class="non-printable">
        <h3 class="shift_left ">Books Inventory Management</h3>
        <p class="shift_left">To bulk add the students, you can download and fill this Excel template by   <a href="{% static 'excel_templates/book_template.xlsx' %}">Downloading Book Template</a>
                and uploading it in by clicking "Choose File" down below:
        </p>
    <form method="post" action="/books/add_books" enctype="multipart/form-data" class="shift_left" >
        {% csrf_token %}
        <label for="books_inventory">Import Student List from Excel Sheet:</label><br>
          <input type="file" name="books_inventory" id="books_inventory" required>
         <input type="submit" value="Bulk Add Books Lists">
    </form>
     {% if not books_data %}
    <div class="shift_left">
        <p> To add a single book item, click the Add first book entry</p>
      <button id="add_first_book">Add first book entry </button>
    </div>
     {% endif %}
    <div class="books-forms">
        <form method="get">
              {% csrf_token %}
        {{ filter_form.as_table }}
        <button type="submit">Filter</button>
    </form>
        <form method="get">
            {{ status_form.as_table }}
            <button type="submit">Filter Status</button>
        </form>
        <form method="get">
            {{ books_search_form.as_table }}
            <button type="submit">Search</button>
        </form>
    </div>
</div>
<div class="column-options">
    <label><input type="checkbox" id="toggleISBN" data-column-index="2" > Show ISBN</label>
    <label><input type="checkbox" id="toggleBookName" data-column-index="3"> Show Book Name</label>
    <label><input type="checkbox" id="toggleQuantityRequested" data-column-index="4"> Show Quantity Requested</label>
    <label><input type="checkbox" id="toggleQuantityReceived" data-column-index="5"> Show Quantity Received</label>
    <label><input type="checkbox" id="toggleYearGroup" data-column-index="6">Show Year Group</label>
    <label><input type="checkbox" id="toggleOrderStatus" data-column-index="7">Show Order Status</label>
    <label><input type="checkbox" id="toggleDateAdded" data-column-index="8">Show Date Added</label>
    <!-- Add more checkboxes for other columns as needed -->
</div>

<div class="table_container printable" >
 {% if books_data %}
        <form action="/books/table_actions" method="post" id="order_form">
         {% csrf_token %}
        <table id="books_inventory_table">
      <tr>
        <th id="select_all_dashboard" class="non-printable">
            <label for="select_all" class="non-printable">Select All:</label>
            <input type="checkbox" id="select_all" onclick="toggleAllCheckboxes(this)" class="non-printable" >
        <br><br>
        </th>
        <th>ISBN</th>
        <th>Book Name</th>
        <th>Quantity Requested</th>
        <th>Quantity Received</th>
        <th>Year Group</th>
        <th>Order Status</th>
        <th>Date Added</th>
        <th class="non-printable">
            Actions
            <button id="add_new_entry_button">Add new entry</button>
            <button type="submit" name="table_action" value="update_all_statuses">Update all Order Statuses</button>
            <button type="submit" name="table_action" value="delete_all" >Delete All</button>
        </th>
      </tr>
          {% for x in books_data %}
            <tr>
            <td class="non-printable">
                <input type="checkbox" name="books_selection" value="{{ x.id }}">
                <input type="hidden" name="book_id" value="{{ x.id }}">
            </td>
              <td class="data">{{ x.isbn }}</td>
              <td class="data">{{ x.book_name }}</td>
              <td class="data quantity_needed">
                 {{ x.quantity_needed }}
              </td>
             <td class="data">{{ x.quantity_received }}</td>
              <td class="data">{{ x.year_group}}</td>
              <td class="order_status_data">{{ x.order_status}}</td>
              <td class="date_added">{{ x.date_requested}}</td>

              <td class="button_actions non-printable">
                  <button type="submit" name="table_action" value="edit" class="edit" data-book-id = {{ x.id }}>Edit</button>
                  <button class="save" data-book-id = {{x.id }}>Save</button>
                  <button class="cancel" data-book-id="{{ x.id }}">Cancel</button>
                  <button class="delete">Delete</button>
                  <button class="update_order" data-book-id = {{x.id }}>Update Order Status</button>
              </td>
            </tr>
          {% endfor %}
    </table>
      {% else %}
            <p>No books data available</p>
         {% endif %}
    </form>
</div>

<!-- Checkboxes to toggle column visibility -->

    <script>
      {% comment %} function toggle(source) {
           let checkboxes = document.getElementsByName('ordered_checkbox');
          for(let i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
          }
        }{% endcomment %}

     function toggleAllCheckboxes(source) {
        let checkboxes = document.querySelectorAll('input[type="checkbox"][name="books_selection"]');
        for (let i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = source.checked;
        }
    }

    </script>


</body>

</html>