<div class="header">
    <h1 class="text-2xl">ENAS Book Inventory Dashboard</h1>
    <a href="/books/dashboard" class="tabs_links">
        <span class="material-symbols-outlined">
            book
        </span>
        BOOKS MANAGEMENT
    </a>
    <a href="/students/students_book" class="tabs_links ">
        <span class="material-symbols-outlined">
            person
            </span>
       STUDENTS' BOOK MANAGEMENT
    </a>
    <a href="{% url 'logout' %}" class="tabs_links">
        <span class="material-symbols-outlined">
            logout
        </span>
        LOGOUT
    </a>
</div>