{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src = "{% static 'javascript/student-index.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

</head>
<body>
{% include "header.html" %}
    <h1>Student Books Detail</h1>
    <p><strong>Name:</strong> {{ student.name }}</p>
    <p><strong>Year Group:</strong> {{ student.year_group }}</p>
     {% if books %}
         <table>
          <thead>
                    <th>Book Name</th>
                    <th>Received</th>
                    <th>Date Received</th>
                    <th>Actions</th>
                  </thead>
           {% for book_received in received_books %}
              <tr>
                <td>{{ book_received.book.book_name }}</td>
                <td>Yes</td>
                <td>{{ book_received.date_received }}</td>
              <td>
                        <button class="update_received_status" data-book-id="{{ book.id }}" data-student-id="{{ student.id }}" data-url="{% url 'students:update_received_status' %}">Update Received Status</button>
                     </td>
              </tr>
        {% endfor %}
          </table>
          {% else %}
         <p>No books is available in the system for this year group.</p>
         <p>You can add a book for this year group and student by completing the form down below</p>
         <form method="post">
             {% csrf_token %}
            {{ book_form.as_table }}
            <button type="submit">Add Book</button>
         </form>
    {% endif %}
</body>
</html>