{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src = "{% static 'javascript/student-index.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>
<body>
{% include "header.html" %}

<h3>Student Book Management</h3>


{% comment %}<form>
        {% csrf_token %}
    <label for="year_group">Select a class:</label>
    <select name="year_group" id="year_group">
      <option value="Reception">Reception</option>
      <option value="Nursery">Nursery</option>
      <option value="Year 1">Year 1</option>
      <option value="Year 2">Year 2</option>
        <option value="Year 3">Year 3</option>
    </select>
    <button type="submit">Show Students</button>
</form>{% endcomment %}
        <p>To bulk add the students, you can download and fill this Excel template by   <a href="{% static 'excel_templates/student_template.xlsx' %}">Downloading Student Template</a>
        and uploading it in by clicking "Choose File" down below:
        </p>
    <form method="post" action="/add_students_bulk" enctype="multipart/form-data" >
        {% csrf_token %}
        <label for="books_inventory">Import Student List from Excel Sheet:</label><br>
          <input type="file" name="student_inventory" id="student_inventory" required>
       <button type="submit" >Bulk Add Students</button>
    </form>

 {% if students_data %}
     <table>
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Paid Status</th>
                     <th>Year Group</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                {% for student in students_data %}
                <tr>
                    <td class="editable_data">{{ student.name }}</td>
                    <td class="paid_status">{{ student.paid_status }}</td>
                    <td class="editable_data">{{ student.year_group }}</td>
                    <td>
                        <button class="student_edit">Edit</button>
                        <button class="student_save" data-book-id = {{student.id }}>Save</button>
                        <button class="update_paid_status" data-book-id = {{student.id }}>Update Paid Status</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
  {% else %}
        <p>No student data available.</p>


 {% endif %}








</body>
</html>