{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src = "{% static 'javascript/student-index.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>
<body>
{% include "header.html" %}

<h3>Student Book Management</h3>
<div class="student-forms">
    <form method="get">
          {% csrf_token %}
    {{ filter_form.as_table }}

    <button type="submit">Filter</button>
</form>
    <form method="get">
        {{ search_form.as_table }}
        <button type="submit">Search</button>
    </form>
</div>



        <p>To bulk add the students, you can download and fill this Excel template by   <a href="{% static 'excel_templates/student_template.xlsx' %}">Downloading Student Template</a>
        and uploading it in by clicking "Choose File" down below:
        </p>
    <form method="post" action="/add_students_bulk" enctype="multipart/form-data" >
        {% csrf_token %}
        <label for="books_inventory">Import Student List from Excel Sheet:</label><br>
          <input type="file" name="student_inventory" id="student_inventory" required>
       <button type="submit" >Bulk Add Students</button>
    </form>

 {% if students_data %}
     <table id="student_table">
            <thead>
                <tr>
                    <th>
                        <label for="select_all">Select All:</label>
                        <input type="checkbox" id="select_all" onclick="toggleAllCheckboxes(this)" >
                    </th>
                    <th>Student Name</th>
                    <th>Paid Status</th>
                     <th>Year Group</th>
                    <th>
                        Actions
                        <button id="update_all_students">Update All</button>
                        <button id="add_new_student">Add new Student</button>
                    </th>

                </tr>
            </thead>
            <tbody>
                {% for student in students_data %}
                <tr>
                     <td>
                        <input type="checkbox" name="students_check" value="{{ student.id }}" required>
                     </td>
                    <td class="editable_data">{{ student.name }}</td>
                    <td class="paid_status">{{ student.paid_status }}</td>
                    <td class="editable_data">{{ student.year_group }}</td>
                    <td>
                        <button class="student_edit" data-student-id = {{student.id }}>Edit</button>
                        <button class="student_save" data-student-id = {{student.id }}>Save</button>
                        <button class="student_delete" data-student-id = {{student.id }}>Delete</button>
                        <button class="update_paid_status" data-student-id = {{student.id }}>Update Paid Status</button>
                        <a href="{% url 'students:student_detail' student.id  %}">View Book Details</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
  {% else %}
        <p>No student data available.</p>


 {% endif %}








</body>
</html>